body {
    font-family: "Arial","Meiryo",sans-serif;
    font-size: 20px;
    text-align: center;
}
.blue {
    color: skyblue;
}
.pink{
    color: pink;
}

h1{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 1.2em;
    border-bottom: solid black;
    text-shadow: 1px 1px 2px skyblue;
}
#basic p{
    font-weight: bold;
}
